// Reset default styles
@import "reset";

// Custom variables
@import "variables";

// Import main Bootstrap styles
//@import "~bootstrap/scss/bootstrap";

// Import Material Icons
@import "material-icons";

// Components
@import "header";
@import "footer";
@import "service";
@import "page-title";
@import "monitoring";

body {
  background-color: $c-corp;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  // background-image: url("https://tonytekk.github.io/fotomonitor-landing/dist/static/background_1.jpeg");
  // background-size: 100% auto;
}

section {
  position: relative;
}

a {
  color: $c-white;
}

main {
    margin-left: 90px;

    @include media-breakpoint-down(lg) {
        margin: 8px;
    }
}

.__link {
  text-decoration: underline;
}

.__underline {
  position: relative;
  transition: all $a-time $a-type;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: $c-white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all $a-time $a-type;
  }
  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}
