// Reset default styles
@import "reset";

// Custom variables
@import "variables";

// Import main Bootstrap styles
//@import "~bootstrap/scss/bootstrap";

// Import Material Icons
@import "material-icons";

// Components
@import "header";
@import "footer";
@import "contacts";
@import "service";
@import "page-title";

body {
  background-color: $c-white;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-image: url("../../dist/static/images/image_7.jpeg");
  background-size: 100% auto;
}

section {
  position: relative;

  .section-title {
    text-align: center;
    font-size: 64px;
    margin-bottom: 64px;

    @include media-breakpoint-down(md) {
      font-size: 46px;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 16px;
}

a {
  color: $c-black;
}
