.contacts {
  color: $c-white;
  margin-left: 146px;

  @include media-breakpoint-down(lg) {
    margin-left: 20px;
  }

  @include media-breakpoint-down(sm) {
    margin-left: 8px;
  }

  .contacts-menu {
    display: flex;
    flex-direction: row;
    font-size: 24px;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }

    li {
      display: flex;
      align-items: center;
      height: 32px;
      margin-right: 32px;
    }

    i {
      margin-right: 8px;
    }
  }
}