.contacts {
  //margin-left: 456px;
  //margin-top: -364px;
  margin-left: 90px;
  padding: 16px;

  @include media-breakpoint-down(lg) {
    margin-left: 0;
    margin-top: 0;
  }

  @include media-breakpoint-down(md) {
    padding: 8px;
  }

  .map {
    position: relative;
    height: 600px;
    width: 100%;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
  }

  .contacts-menu {
    position: absolute;
    top: 110px;
    left: 10px;
    width: 282px;
    padding: 10px;
    font-size: 18px;
    background-color: white;
    box-shadow: $box-shadow;
    border-radius: $border-radius;

    @media (max-width: 415px) {
      top: 70px;
      width: 262px;
      font-size: 14px;
    }

    li {
      display: flex;
      align-items: center;
      height: 30px;
    }

    i {
      margin-right: 8px;
      color: $c-red;
    }

    a {
      transition: all $a-time $a-type;

      &:hover {
        color: $c-red;
      }
    }
  }
}