header {
  display: flex;
  padding: 16px;

  @include media-breakpoint-down(md) {
    padding: 8px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    width: 100%;

    .nav-menu {
      display: flex;
      align-items: center;
      padding: 0 16px;
      margin-left: 16px;
      color: $c-white;
      font-size: 32px;
      text-transform: uppercase;

      @include media-breakpoint-down(md) {
        padding: 0 8px;
        margin-left: 8px;
        font-size: 14px;
      }
    }

    li {
      padding: 0 8px;

      @include media-breakpoint-down(md) {
        padding: 0 4px;
      }
    }

    a {
      color: $c-white;
    }
  }

  .logo {
    height: 60px;
  }
}

