header {
  display: flex;
  padding: 16px;

  @include media-breakpoint-down(md) {
    padding: 8px;
  }

  nav {
    display: flex;
    width: 100%;

    .nav-menu {
      padding: 0 16px;
      color: $c-white;
      font-size: 18px;

      @include media-breakpoint-down(md) {
        padding: 0 8px;
        font-size: 14px;
      }
    }

    .menu-item {
      display: flex;
      align-items: center;
      height: 25px;
      padding: 0 8px;
    }

    .material-icons {
      margin-right: 10px;
    }
  }

  .logo {
    height: 50px;
  }
}

