.navigation {
  padding-left: 16px;

  &-menu {
    display: flex;
  }

  li {
    padding: 4px 8px;

    a {
      display: flex;
      align-items: center;
    }

    .material-icons {
      margin-right: 8px;
    }
  }
}