.page-title {
  position: relative;
  width: 100%;
  color: $c-white;
}

.page-title-text {
  margin-top: 30px;
  margin-left: 146px;
  font-size: 64px;
  text-transform: uppercase;

  @include media-breakpoint-down(lg) {
    margin-top: 30px;
    margin-left: 20px;
    width: auto;
    font-size: 48px;
  }

  @include media-breakpoint-down(md) {
    margin-left: 8px;
    font-size: 24px;
  }

  span {
    text-transform: none;
    display: block;
    font-size: 48px;

    @include media-breakpoint-down(lg) {
      font-size: 32px;
    }

    @include media-breakpoint-down(md) {
      font-size: 18px;
    }
  }
}