.research {
  .section-container {
    display: flex;

    @include media-breakpoint-down(lg) {
      display: block;
    }
  }


  &-service {
    margin-right: 16px;

    @include media-breakpoint-down(lg) {

    }
  }

  &-service-item {
    display: flex;
    margin: 16px 8px;

    @include media-breakpoint-down(md) {
      display: block;
    }

    .item-title {
      display: flex;
      position:relative;
      align-items: center;
      width: 200px;
      min-height: 50px;
      color: $c-white;
      padding: 16px 32px;
      background-color: $c-background;
      border-radius: $border-radius;
      transition: transform $a-time;

      @include media-breakpoint-down(md) {
        font-size: 16px;
        padding: 8px 16px;
      }
    }

    .item-title:after, .item-title:before {
      content: "";
      position:absolute;
      width: 40px;
      height: 50%;
      left: 100%;
    }

    .item-title:after {
      bottom: 0;
      background: linear-gradient(to right bottom, $c-background 50%, transparent 50%);

      @include media-breakpoint-down(md) {
        background: none;
      }
    }

    .item-title:before {
      top: 0;
      background: linear-gradient(to right top, $c-background 50%, transparent 50%);

      @include media-breakpoint-down(md) {
        background: none;
      }
    }

    .item-description {
      width: 100%;
      max-width: 400px;
      color: $c-white;
      padding: 16px 32px;
      margin-left: 64px;
      background-color: #415c87;
      box-shadow: $box-shadow;
      border-radius: $border-radius;
      transition: transform $a-time;

      @include media-breakpoint-down(lg) {

      }

      @include media-breakpoint-down(md) {
        width: auto;
        margin-left: 16px;
        margin-top: -8px;
        padding: 8px 16px;
        position: relative;
        //max-width: 200px;
        font-size: 16px;
      }

      li {
        margin: 8px 0;
      }
    }

    .__arrow {
      width: 30px;
      height: 30px;
      margin: 0 32px;
      background-color: white;
    }
  }


  &-calculation {
    background-image: url(../../dist/static/paper.jpeg);
    max-width: 700px;

    box-shadow: $box-shadow;
    border-radius: $border-radius;
    padding: 32px 32px;

    @include media-breakpoint-down(lg) {

    }

    p {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
    }
  }

  .example-container {
    display: flex;
    margin-bottom: 16px;

    table {
      width: 400px;

      @include media-breakpoint-down(lg) {
        width: auto;
      }
    }

    .img-container {
      padding: 0 16px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include media-breakpoint-down(lg) {
      display: block;

      .img-container {
        margin-top: 16px;
        padding: 0;
      }
    }
  }

  .static-param-container {
    display: flex;
    margin-bottom: 16px;

    table {
      width: 100%;

      th {
        font-size: 14px;
        vertical-align: top;
      }
    }

    .table-container {
      margin: 0 16px; width: 100%;
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  .graph-container {
    display: flex;
    margin-left: 216px;

    @include media-breakpoint-down(lg) {
      margin-left: 0;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .img-container {
      flex: 0 0 calc(50% - 16px);

      @include media-breakpoint-down(lg) {
        flex: 0 0 calc(50% - 8px);
      }
    }
  }

  table {
    padding: 16px;
    margin: 16px;
    border-collapse:collapse;
  }

  td {
    padding: 8px 4px;
  }

  th {
    text-align: left;
    padding: 8px 4px;
    font-weight: 700;
  }

  .table-container {
    display: flex;
    background-image: url(../../dist/static/paper.jpeg);
    border-radius: 2px;
  }
}