.service {
  display: flex;
  flex-wrap: wrap;
  color: white;
  margin-left: -4px;

  @media (max-width: 510px) {
    justify-content: center;
  }

  .service-type {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 230px;
    text-align: center;
    font-size: 18px;
    background-color: $c-background;
    padding: 8px;
    margin: 4px;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    transition: transform $a-time;

    @media (max-width: 510px) {
      width: 100%;
    }

    .service-img {
      width: 226px;
      margin-bottom: 16px;
    }

    .service-title {
      font-weight: 400;
      margin-bottom: 8px;
      padding: 0 8px;
    }

    &:hover {
      transform: translateY(-4px);
      // background-color: $c-corp;
    }
  }
}