.service {
  display: flex;
  flex-wrap: wrap;
  color: white;
  margin-left: 90px;

  @include media-breakpoint-down(lg) {
    margin-left: 0;
  }

  @include media-breakpoint-down(sm) {
    justify-content: center;
  }

  .service-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    text-align: center;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 16px;
    margin: 16px;

    @include media-breakpoint-down(md) {
      padding: 8px;
      margin: 8px;
      width: 250px;
    }

    img {
      width: 200px;
      margin-bottom: 16px;
    }
  }
}