.service {
  display: flex;
  flex-wrap: wrap;
  color: white;
  margin-top: 8px;
  margin-left: 90px;

  @include media-breakpoint-down(lg) {
    margin-left: 0;
  }

  @media (max-width: 526px) {
    justify-content: center;
  }

  .service-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    text-align: center;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    margin: 8px;
    box-shadow: $box-shadow;
    border-radius: $border-radius;

    @media (max-width: 526px) {
      width: 100%;
    }

    .service-img {
      width: 120px;
      margin-bottom: 16px;
    }

    .service-title {
      font-weight: 400;
      margin-bottom: 16px;
    }
  }
}